<nav class="nav_containers">
  <a routerLink="">
    <img
      class="img"
      src="https://www.pikpng.com/pngl/b/513-5138923_sports-car-logo-auto-racing-imagenes-de-carros.png"
    />
  </a>
  <div class="" id="navbarNav">
    <ul class="lista">
      <li class="">
        <a routerLink="" class="nav-link">Inicio</a>
      </li>
      <li class="">
        <a routerLink="listAuto" class="nav-link">Lista Autos</a>
      </li>
      <li class="">
        <a routerLink="addAuto" class="nav-link">Agregar Auto</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-app">
  <router-outlet></router-outlet>
</div>
